.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.home nav > * {
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
}